:root {
  --primary-color: #197278;
  --hover-color: #283d3b;
  --text-color: white;
  --text-font-family: "Montserrat", sans-serif;
  --header-font-family: "Oldenburg", cursive;
}

body {
  background-color: var(--primary-color);
}

h1 {
  font-family: var(--header-font-family);
  font-size: 48px;
}
li {
  font-family: var(--header-font-family);
  font-size: 20px;
  line-height: 2;
  opacity: 75%;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

p,
h2,
h3 {
  font-family: var(--text-font-family);
  color: var(--text-color);
  text-align: center;
}

h2 {
  font-family: var(--header-font-family);
  font-size: 32px;
  padding-bottom: 32px;
}

h3 {
  padding-bottom: 16px;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  color: var(--text-color);
}

.project {
  margin-top: 72px;
}

.bold {
  font-weight: bold;
  opacity: 100%;
  font-size: 32px;
}

.hero {
  color: var(--text-color);
  padding-top: 150px;
  padding-bottom: 120px;
}

.hero img {
  border: 3px solid var(--text-color);
  border-radius: 50%;
  max-height: 175px;
}

.container-fluid {
  max-width: 1000px;
}

.img-project {
  border: 3px solid var(--text-color);
  border-radius: 50%;
  max-height: 250px;
}

.btn-outline-primary {
  border-color: var(--text-color);
  font-family: var(--text-font-family);
  color: var(--text-color);
}

.btn-outline-primary:hover {
  background-color: var(--hover-color);
  border-color: var(--text-color);
}

.about-description {
  margin: 24px;
  text-align: center;
}

.about-description h1 {
  color: var(--text-color);
  font-size: 40px;
  padding-bottom: 16px;
}

.about-description h2 {
  font-size: 20px;
  font-family: var(--text-font-family);
}

.about-description p {
  font-size: 16px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
    padding-bottom: 0;
  }

  li {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 8px;
  }

  p {
    padding-top: 16px;
  }

  .hero {
    padding-top: 60px;
    padding-bottom: 24px;
  }

  .bold {
    font-size: 20px;
  }

  .hero img {
    margin-bottom: 16px;
  }

  .project {
    margin-top: 40px;
  }

  .container-fluid {
    margin-bottom: 64px;
  }
}
