:root {
  --primary-color: #197278;
  --text-color: #283d3b;
  --text-font-family: "Montserrat", sans-serif;
  --header-font-family: "Oldenburg", cursive;
}

body {
  background-color: var(--primary-color);
}

h1 {
  font-family: var(--header-font-family);
}

ul {
  font-family: var(--text-font-family);
  opacity: 75%;
  padding-left: 0;
}

.bold {
  font-weight: bold;
  opacity: 100%;
}

.hero {
  color: white;
  padding: 150px;
}

li {
  list-style-type: none;
}

.hero img {
  border: 3px solid white;
  border-radius: 50%;
  max-height: 175px;
}

.container-fluid {
  max-width: 1000px;
}
